
<hr>
<br>
<br>
<br>
<h1>{{film.title}}</h1>
<br>
<br>
<br><img src="{{film.imageUrl}}" alt="picture">
<p>Brand: {{film.brand}}</p>
<p>Camera: {{film.camera}}</p>
<p>ASA: {{film.asa}}</p>
<p>Format: {{film.format}}</p>
<p>in:{{film.blackWhiteOrColor}} </p>
<p>Filter: {{film.filter}}</p>
<p>Location: {{film.location}}</p>
<p>startedFilm: {{film.startedFilm}}</p>
<p>endedFilm: {{film.endedFilm}}</p>

<hr>
<button><a href="/home">Back</a></button>
<button><a href="/editFilm">Edit photo</a></button>