<br><br>
<h1>{{film.title}}</h1>
<br><br>

<div class="photoDetails">
    <div class="leftPart">
<br><img class="photo" src="{{film.imageUrl}}" alt="picture">
    </div>
    <div class="rightPart">
<p>Brand: {{film.brand}}</p>
<p>Camera: {{film.camera}}</p>
<p>ASA: {{film.asa}}</p>
<p>Format: {{film.format}}</p>
<p>in:{{film.blackWhiteOrColor}} </p>
<p>Filter: {{film.filter}}</p>
<p>Location: {{film.location}}</p>
<p>startedFilm: {{film.startedFilm}}</p>
<p>endedFilm: {{film.endedFilm}}</p>

<button><a href="/home">Back</a></button>
<button><a href="/home/edit/{{film._id}}">Edit photo</a></button>
<form action="/home/delete/{{film._id}}" method="POST">
    <button>Delete</button>
</form>
    </div>  
</div>