
<h1 class="home-title">Home</h1>
<div class="home">
    <div class="home-left">  
        <button class="profile-button"><a href="/profile">Profile</a></button>
        <button class="upload-button"><a href="/uploadFilm">Upload new photo</a></button>
    </div>
    <div class="home-right">
        <h2>Your photos</h2>
        <div class="home-papi">
            {{#each films}}
                <div class="div-homeright">
                    <img class='preview' src="{{imageUrl}}" alt="">
                    <div><h5 class="names-pics">{{title}}</h5></div>
                    <button><a href="/home/{{_id}}">Details</a></button>
                    <button><a href="/home/edit/{{_id}}">Edit photo</a></button>
                    <form action="/home/delete/{{_id}}" method="POST">
                        <button>Delete</button>
                    </form>
                </div>
            {{/each}}
        </div>
    </div>
</div>
<button><a href="/logout">Logout</a></button>
